camel-calculator/src/main/resources/CalcularService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CalcularService" targetNamespace="urn:com.example.switchyard:camel-calculator:1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:com.example.switchyard:camel-calculator:1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:com.example.switchyard:camel-calculator:1.0" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn:com.example.switchyard:camel-calculator:1.0">
  <xs:complexType name="operando">
    <xs:sequence>
      <xs:element name="operador1" type="xs:int"/>
      <xs:element name="operador2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sum" type="sum"/>
  <xs:complexType name="sum">
    <xs:sequence>
      <xs:element minOccurs="0" name="operando" type="operando"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="sumResponse" type="sumResponse"/>
  <xs:complexType name="sumResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="substract" type="substract"/>
  <xs:complexType name="substract">
    <xs:sequence>
      <xs:element minOccurs="0" name="operando" type="operando"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="substractResponse" type="substractResponse"/>
  <xs:complexType name="substractResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="sumResponse">
    <wsdl:part name="parameters" element="tns:sumResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="substract">
    <wsdl:part name="parameters" element="tns:substract">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="substractResponse">
    <wsdl:part name="parameters" element="tns:substractResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sum">
    <wsdl:part name="parameters" element="tns:sum">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalcularServicePortType">
    <wsdl:operation name="sum">
      <wsdl:input name="sum" message="tns:sum">
    </wsdl:input>
      <wsdl:output name="sumResponse" message="tns:sumResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="substract">
      <wsdl:input name="substract" message="tns:substract">
    </wsdl:input>
      <wsdl:output name="substractResponse" message="tns:substractResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcularServiceSoapBinding" type="tns:CalcularServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sum">
      <soap:operation soapAction="sum" style="document"/>
      <wsdl:input name="sum">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sumResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="substract">
      <soap:operation soapAction="substract" style="document"/>
      <wsdl:input name="substract">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="substractResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcularService">
    <wsdl:port name="CalcularServicePort" binding="tns:CalcularServiceSoapBinding">
      <soap:address location="http://localhost:8080/camel-calculator/CalcularService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
